body {

  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background: linear-gradient(to right, #ff5733 20%, #ffcc33 40%, #33ff57 60%);
  overflow: hidden;
}

/* Стилі для випадаючого списку та інших елементів */
.breed-select,
.loader,
.error {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d0f4f4;
  margin-bottom: 20px;
}

/* Стилі для блоку інформації про кота */
.cat-info {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

/* Стилі для зображення кота */
.cat-image {
  width: 600px;
  height: 500px;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 20px;

}

/* Стилі для текстових елементів у .cat-info */
.cat-info p {
  margin-left: 720px;

}

/* Стилі для текстових елементів у .cat-info */
.cat-name,
.cat-description,
.cat-temperament {
  flex: 1;
  max-width: 30%;
  text-align: left;
  font-size: 22px;
}

.cat-name {
  font-weight: bolder;
  font-size: 30px;
}

.breed-select {
  margin-left: 20px;
}

.loader {
  font-size: 18px;
  color: #1d1fce;
  text-align: center;
  margin-top: 20px;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

.error {
  font-size: 18px;
  color: red;
  text-align: center;
  margin-top: 20px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}